body{
  font-family: Poppins;
}
ul{
  text-align: center;
  display: inline-block;
  width: 75%;
  margin: 0 auto;
  height: 200px;
  padding-top: 80px;
}
.nav_bg{
height:100px !important;
}
.nav-item{
  text-align: center;
  margin:0 auto;
  display: inline-block;
  float: none;
  width: 150px;
  height: 63px;
  padding: 5px;
  border: 4px solid #ffa801;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 20px;
  transition: 0.3s;
  transition-timing-function: ease;

}
.hov:hover{
  background-color: #1e272e;
}

.hov2:hover{
  background-color: #ffc048;
}

.navbar,ul,a,.nav-link{
  transition: .3s;
}

.brand{
  display: none;
  font-size: 40px;
  position: fixed;
  margin-left: -175px;
//  font-weight: 700;
}

a{
color: white;
}

.img_header{
  height: 100vh;
  filter: brightness(25%);
}

.div_header{
  top: 0;
  text-align: center;
  position: absolute;
  margin-left: 25%;
  width: 50%;
  color: white;
  margin-top: 20vh;
  font-family: 'Dancing Script', cursive;
  font-size: 120px;
}
.div_header > p{
  text-align: left;
}

.div_header > img{
  height: 300px;
}

.div_header > span{
  font-family: Poppins;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 100px;
}

/*---------------------main-------------------------------------*/

article, section{
  text-align: justify;
  font-size: 20px;
  padding-bottom: 50px;
}

.p_about{
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0 0 0;
  margin-bottom: 30px;
  border-bottom: 5px solid #ffa801;
}

.wyniki{
  color: #333;
  background-color: #ffa801;
}

.p_wyniki{
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0 0 0;
  margin-bottom: 30px;
  border-bottom: 5px solid #333;
  width: 250px;
}

.card{
  background-color:#ffd32a;
  border: 3px solid #333;
  text-align: center;
  float: right;
  margin: 16px;
  width: 30%;
}
section[data-type="parallax"]{
  background:url('http://www.siemianowice.pl/.image/db6SvgAEYBgZZ7YHaN9dL9st-V_vZKPtuwrE-FZusw.jpg') no-repeat;
  background-position: center top;
  background-size: cover;
  //min-height: 2000px;
  height: 500px;
}

.p_zasady{
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  border-bottom: 5px solid #485460;
  width: 250px;
}

.list-group-item.active{
  background-color: #485460;
}

.p_cennik{
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
  color: white;
  margin-bottom: 30px;
  border-bottom: 5px solid white;
  width: 250px;
}

.cennik{
  background-color: #485460;
  padding-top: 50px;
}

table{
  letter-spacing: 3px;
}

.p_kontakt{
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  border-bottom: 5px solid #ff3f34;
  width: 250px;
  padding-top: 50px;
}

.social{
  height: 50px;
}

.up{
margin-top: 80%;
  position: relative;
  display: block;
  margin: 0 auto;
}

iframe{
  width: 100%;
}

footer{
  text-align: center;
  padding-bottom: 20px;
}
footer>a{
  color:#ffa801 !important;
}
